
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sent-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.bg {
    background: url('https://images.unsplash.com/photo-1717226263667-7ce6f7f35d9d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') 
    no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left:-30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter:blur(30px);
}

.loading-text{
    font-size: 50px;
    color:white;

}